site_name: MicroTrace Documentation
site_url: https://omarsawaf1.github.io/MicroTrace-Docs/
site_author: Omar Mohamed
site_description: MicroTrace Documentation
repo_name: MicroTrace-Docs
repo_url: https://github.com/omarsawaf1/MicroTrace-Docs

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/MicroTrace_Logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs      #The navigation moves horizontally to the top as Tabs, next to the logo, instead of in the sidebar.
    - navigation.footer 
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

markdown_extensions:
  - attr_list
  # - toc:
  #   permalink: true
  #   toc_depth: 3
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/omarsawaf1
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/omar-mohamed-hatem-057a8025b/

copyright: Copyright &copy; 2025 MicroTrace Team

nav:
  - Home: index.md
  - STM32 SVD Database: svd_database.md
  - MCP Server: mcp.md
  # - Ghidra Scripts: ghidra.md
  # - Frontend Visualization: frontend.md
  # - Features:
  #     - Overview: features/README.md
  # - Use Cases: usecases.md
